.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5em 0.5em 2em 0.5em; /* Ajuste o padding conforme necessário */
  box-sizing: border-box;
  flex-wrap: wrap;
}

.links__contato {
  display: flex;
  justify-content: left;
  color: blue;
}

.links a {
  display: flex;
  background-color: var(--bg-2);
  padding: 0.5em 1em;
  width: 85%;
  border-radius: 0.5em;
  color: var(--txt-color-2);
  font-weight: 500;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.links a img {
  width: auto;
  height: 2em;
  padding-right: 0.5em;
}

.links__contato {
  justify-content: left;
}

@media screen and (min-width: 576px) {
  .links {
    flex-direction: row;
  }

  .links a {
    max-width: 380px;
    align-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .links {
    max-width: 1140px;
    margin: 0 auto;
  }

  .links a {
    max-width: 420px;
  }
}

.link2 a:hover {
  text-decoration: underline;
}