<div class="container">
  <div>
    <input type="checkbox" id="menu" />
    <label for="menu" class="container__rotulo">
      <span class="cabecalho__menu"></span>
    </label>

    <ul class="lista-menu">
      <li>
        <a href="index.html">Inicio</a>
      </li>
      <li>
        <a href="produtos.html">Produtos</a>
      </li>
      <li>
        <a href="esportes.html">Esportes</a>
      </li>
      <li>
        <a href="ingressos.html">Ingressos</a>
      </li>
      <!-- <li>
        <a href="parcerias.html">Parcerias</a>
      </li>
      <li>
        <a href="socio.html">Seja Socio</a>
      </li> -->
    </ul>

    <img
      class="logo__escudo"
      alt="icone Whatsapp"
      src="../img/Barbaros-Escrita2-red.png"
    />
  </div>
  <button type="button" id="toggleButton" alt="botão para alterar darkmode">
    <img class="darkmode_img" src="../img/devIcons/icons8-dark-50.svg" />
  </button>
</div>
